@media (min-width: 481px) and(max-width: 980px) {
  .container {
    display: flex;
    max-width: 980px;
  }
  .hero-banner {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .container {
    display: flex;
    max-width: 480px;
  }
  .hero-banner {
    height: 200px;
  }
}
